<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css" />
</head>
<body>
    <button><a href="/">Home</a></button>
    <h1>This is my idols work/life</h1>
    <p>Mortimer Chauncey "Morty" Smith Sr.[5] is one of the eponymous characters from the American animated television series Rick and Morty. Created by Justin Roiland and Dan Harmon, and voiced by the former for the first six seasons of the series,[1] Morty is a 14-year-old boy loosely inspired by Michael J. Fox's Marty McFly from Back to the Future.[7] Morty is known for his awkward, anxious, second-guessing, doubtful personality, and low sense of self-esteem; the character has been critically well-received. He is the good-natured and impressionable grandson of mad scientist Rick Sanchez, the son of Jerry and Beth Smith, the younger brother of Summer Smith, and the father of Morty Jr. and Naruto Smith, who can be easily manipulated. In September 2021, Jaeden Martell portrayed Morty in a series of promotional interstitials for the series.</p>
</body>
</html>